@font-face {
    font-family: dosis-bold;
    src: url(/fonts/DosisBold-OLR6.ttf);
}

html, body {

    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow-y: scroll;

    font-family: dosis-bold;
    letter-spacing: 1px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    flex-direction: column;
    padding-bottom: 3rem;
    width: 100%;
    padding-left: 3vw;
    padding-right: 3vw;
    // padding-left: 10rem;
    // padding-right: 10rem;
    .progressBar {
        position: fixed;
        display: flex;
        bottom: 0;
        width: 100%;
        height: 3rem;
        background-color: #272727;
        justify-content: center;
        align-items: center;
        #progressBarInner {
            transition: all ease-in-out 0.2s;
            position: fixed;
            left: 0;
            align-self: flex-start;
            background-color: rgb(101, 28, 191);
            
            //background: linear-gradient(90deg, rgba(25,6,96,1) 0%, rgba(143,55,201,0.7058532885810574) 30%, rgba(84, 231, 211, 0.431) 58%, rgba(97,43,176,1) 94%);
            height: 100%;
            width: 0%;
        }
        p {
            position: absolute;
            color: white;
            
        }
    }
}

body::-webkit-scrollbar {
    display: none;
}

header {
    display: flex;
    width: 100%;
    height: 5rem;
    align-items: center;
    .logo {
        display: flex;
        height: 100%;
        width: 30%;
        align-items: center;
        gap: 1rem;
        img {
            height: 3rem;
            width: auto;
        }
        p {
            font-size: 2rem;
            color: #ffffff;
        }
    }
    .nav {
        display: flex;
        height: 100%;
        width: 40%;
    }
    .removeButtonCont {
        display: flex;
        height: 100%;
        width: 30%;
        justify-content: flex-end;
        align-items: center;
    }
}
#lsRemover {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    width: 10rem;
    height: 3rem;
    background-color: rgba(189, 64, 64, 0.712);
    border-radius: 5px;
}

#lsRemover:hover{
    transition: all ease-in-out 0.25s;
    background-color: rgba(189, 64, 64, 0.466);

}
.home {
    display: flex;
    justify-content: center;
    width: 100%;
}
#gunsContainer {
    display: flex;
    flex-direction: column;
    
    //margin: 0 5rem 0 5rem;
    max-width: 64rem;

    
    .title{
        display: flex;
        
        color: white;
        font-size: 2rem;
        width: 100%;
        text-align: start;
        margin-top: 5rem;
    }
    > div{

        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        //justify-content: center;
        //align-items: center;

    }
}
.singleGunContainer {
    display: flex;
    width: min-content;
    //margin-bottom: 1.5rem;
    flex-wrap: wrap;
    justify-content: start;
    gap: 0.5rem;
    width: min-content;
    
    section {
        gap: 0.5rem;
        width: 20rem;
        height: auto;
    }
    section > div {
        transition: all ease-in-out 0.2s;
        border-radius: 3px;
        width: calc((85%/ 7));
        aspect-ratio: 1 / 1;
    }
    section div:hover{
        cursor: pointer;
        transform: scale(1.05);

        div {
            display: flex;
        }
    }
    
}
.singleGunContainer > div{
    
    
    transition: 0.3s ease-in-out;
    display: flex;
    border-radius: 4px;
    background-color: #2e2d2d;
    color: rgb(255, 255, 255);
    height: 5rem;
    width: 20rem;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 100%;
    //border-style: solid;
    border-color: rgb(53, 212, 63);
}

.checkContainer {
    
    display: flex;
    width: 100%;
    height: 3rem;

    > div {
        pointer-events: all;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        .reqCont {
            display: flex;
            justify-content: center;
            align-items: center;
            pointer-events: all;
            position: relative;
            display: flex;
            color: white;
            width: 100%;
            //height:fit-content;
            div {
                pointer-events: all;
                height: min-content;
                width: max-content;
                position: absolute;
                top: 1.5rem;
                display: none;
                background-color: #222222;
                padding: 3px 5px 3px 5px;
                border-radius: 4px;
            }
            
        }
        .reqCont:hover{
            div {
                display: flex;

            }
        }
    }
}
.polyatomic-camo {
    pointer-events: none;
    background-color: rgba(131, 2, 131, 0.6); 
}
.platinum-camo {
    pointer-events: none;
    background-color: rgba(192, 192, 192, 0.6);
}
.gold-camo {
    pointer-events: none;
    background-color: rgba(255, 217, 0, 0.6);
}
.common-camo {
    background-color: #2e2d2d;
}

@media only screen and (max-width: 1150px){
    #gunsContainer > div {
        width: min-content;
    }
    #lsRemover {
        font-size: 0.8rem;
    }
    header{
        .logo {
            width: 50%;
            img {
                height: 2rem;
                width: auto;
            }
        }  
    }
    header{
        .logo {
            
            p {
                font-size: 1rem;
            }
        }
    }
    header .nav {
        display: none;
    }
    header .removeButtonCont {
        width: 50%;
    }
}