html, body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    flex-direction: column;
    padding-bottom: 3rem;
    .progressBar {
        position: fixed;
        display: flex;
        bottom: 0;
        width: 100%;
        height: 3rem;
        background-color: #272727;
        justify-content: center;
        align-items: center;
        #progressBarInner {
            transition: all ease-in-out 0.2s;
            position: fixed;
            left: 0;
            align-self: flex-start;
            background-color: rgb(54, 156, 54);
            height: 100%;
            width: 0%;
        }
        p {
            left: 50%;
            position: absolute;
            color: white;
            font-family: sans-serif;
        }
    }
}
#lsRemover {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    color: white;
    right: 5rem;
    top: 2rem;
    width: 10rem;
    height: 3rem;
    background-color: rgba(189, 64, 64, 0.712);
    border-radius: 3px;
}
#gunsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 5rem 0 5rem;
    max-width: 64rem;
    .title{
        font-family: sans-serif;
        color: white;
        font-size: 2rem;
        width: 100%;
        text-align: start;
        margin-top: 5rem;
    }
    > div{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        //width: 100%;
    }
}
.singleGunContainer {
    display: flex;
    width: min-content;
    //margin-bottom: 1.5rem;
    flex-wrap: wrap;
    justify-content: start;
    gap: 0.5rem;
    width: min-content;
    section {
        gap: 0.5rem;
        width: 20rem;
        height: auto;
    }
    section div {
        transition: all ease-in-out 0.2s;
        border-radius: 3px;
        width: calc((85%/ 7));
        aspect-ratio: 1 / 1;
    }
    section div:hover{
        transform: scale(1.05);
    }
    
}
.singleGunContainer > div{
    
    font-family: sans-serif;
    transition: 0.3s ease-in-out;
    display: flex;
    border-radius: 4px;
    background-color: #2e2d2d;
    color: rgb(255, 255, 255);
    height: 5rem;
    width: 20rem;
    font-size: 1.2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 100%;
    //border-style: solid;
    border-color: rgb(53, 212, 63);
}
.singleGunContainer > div:hover {
    transform: scale(1.05);
    transition: all ease-in-out 0.2s;
}
.checkContainer {
    
    display: flex;
    width: 100%;
    height: 3rem;
    
}
.polyatomic-camo {
    pointer-events: none;
    background-color: rgba(131, 2, 131, 0.6); 
}
.platinum-camo {
    pointer-events: none;
    background-color: rgba(192, 192, 192, 0.6);
}
.gold-camo {
    pointer-events: none;
    background-color: rgba(255, 217, 0, 0.6);
}
.common-camo {
    background-color: #2e2d2d;
}