@font-face {
  font-family: dosis-bold;
  src: url(/fonts/DosisBold-OLR6.ttf);
}
html, body {
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-y: scroll;
  font-family: dosis-bold;
  letter-spacing: 1px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121212;
  flex-direction: column;
  padding-bottom: 3rem;
  width: 100%;
  padding-left: 3vw;
  padding-right: 3vw;
}
html .progressBar, body .progressBar {
  position: fixed;
  display: flex;
  bottom: 0;
  width: 100%;
  height: 3rem;
  background-color: #272727;
  justify-content: center;
  align-items: center;
}
html .progressBar #progressBarInner, body .progressBar #progressBarInner {
  transition: all ease-in-out 0.2s;
  position: fixed;
  left: 0;
  align-self: flex-start;
  background-color: rgb(54, 156, 54);
  height: 100%;
  width: 0%;
}
html .progressBar p, body .progressBar p {
  position: absolute;
  color: white;
}

body::-webkit-scrollbar {
  display: none;
}

header {
  display: flex;
  width: 100%;
  height: 5rem;
  align-items: center;
}
header .logo {
  display: flex;
  height: 100%;
  width: 30%;
  align-items: center;
  gap: 1rem;
}
header .logo img {
  height: 3rem;
  width: auto;
}
header .logo p {
  font-size: 2rem;
  color: #ffffff;
}
header .nav {
  display: flex;
  height: 100%;
  width: 40%;
}
header .removeButtonCont {
  display: flex;
  height: 100%;
  width: 30%;
  justify-content: flex-end;
  align-items: center;
}

#lsRemover {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  width: 10rem;
  height: 3rem;
  background-color: rgba(189, 64, 64, 0.712);
  border-radius: 5px;
}

#lsRemover:hover {
  transition: all ease-in-out 0.25s;
  background-color: rgba(189, 64, 64, 0.466);
}

.home {
  display: flex;
  justify-content: center;
  width: 100%;
}

#gunsContainer {
  display: flex;
  flex-direction: column;
  max-width: 64rem;
}
#gunsContainer .title {
  display: flex;
  color: white;
  font-size: 2rem;
  width: 100%;
  text-align: start;
  margin-top: 5rem;
}
#gunsContainer > div {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.singleGunContainer {
  display: flex;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  flex-wrap: wrap;
  justify-content: start;
  gap: 0.5rem;
  width: min-content;
}
.singleGunContainer section {
  gap: 0.5rem;
  width: 20rem;
  height: auto;
}
.singleGunContainer section div {
  transition: all ease-in-out 0.2s;
  border-radius: 3px;
  width: 12.1428571429%;
  aspect-ratio: 1/1;
}
.singleGunContainer section div:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.singleGunContainer > div {
  transition: 0.3s ease-in-out;
  display: flex;
  border-radius: 4px;
  background-color: #2e2d2d;
  color: rgb(255, 255, 255);
  height: 5rem;
  width: 20rem;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 100%;
  border-color: rgb(53, 212, 63);
}

.checkContainer {
  display: flex;
  width: 100%;
  height: 3rem;
}

.polyatomic-camo {
  pointer-events: none;
  background-color: rgba(131, 2, 131, 0.6);
}

.platinum-camo {
  pointer-events: none;
  background-color: rgba(192, 192, 192, 0.6);
}

.gold-camo {
  pointer-events: none;
  background-color: rgba(255, 217, 0, 0.6);
}

.common-camo {
  background-color: #2e2d2d;
}

@media only screen and (max-width: 1150px) {
  #gunsContainer > div {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
  }
  #lsRemover {
    font-size: 0.8rem;
  }
  header .logo {
    width: 40%;
  }
  header .logo img {
    height: 2rem;
    width: auto;
  }
  header .logo p {
    font-size: 1rem;
  }
  header .nav {
    width: 20%;
  }
  header .removeButtonCont {
    width: 40%;
  }
}/*# sourceMappingURL=style.css.map */